<Body background="http://nanoporetech.com/sites/default/files/s3/publications-images/bacterium.jpg">
<center>
<div class="fullscreen nopadding">
  <div id="header">
    <img src="https://img.favpng.com/13/21/3/petri-dishes-logo-microbiological-culture-agar-cell-png-favpng-9r7g6xXc3mLbzbJce1reUuWyR.jpg" width="50px" />
    <p>MAIS Hacks 2021</p>
  </div>
  <div class="header">
          <h1 style="font-family: Impact">Counting Colonies in Bacterial Cultures</h1>
          <p><b>By Aurélien Bück-Kaeffer, Anne-Claudèle Fortin-Hoang, Victor Cruz</b></p>
          <br>
  </div>
</div>


<div class="white">
  <a id="test"></a>
  <b><h3 style="font-family: Arial">About this project</h3>
          <p>Given a picture of a bacterial culture, this program aims at counting the bacterial colonies to ouput a range that is representative of the number of colonies present on the sample.</p></b>
  <br>
  <br>
</div>

<div style="background-color: rgba(255,255,255,.75);">
<article>
  <header>
          <br>
    <h1>Let's count bacteries!</h1>
    <p>Looking for an estimation on how many colonies are on your bacterial sample?</p>
    <br>
  </header>
  <p>Please select a file!</p>
</article>

<form action="myform.cgi" method="POST" enctype="multipart/form-data">
<input type="file" name="fileupload" value="fileupload" id="fileupload" accept="image/*">
<label for="fileupload"> Select a file to upload</label> <input type="submit" value="submit">
</form>
 <br>
<br>
</div>
</center>
